// VARIABLE

// FONT FAMILY
$font-family-base: 'TenorSans', sans-serif;

$font-weight-thin: 100;          // Thin (Hairline)
$font-weight-extra-light: 200;    // Extra Light (Ultra Light)
$font-weight-light: 300;          // Light
$font-weight-normal: 400;         // Regular (normal)
$font-weight-medium: 500;         // Medium
$font-weight-semi-bold: 600;      // Semi Bold (Demi Bold)
$font-weight-bold: 700;           // Bold
$font-weight-extra-bold: 800;     // Extra Bold (Ultra Bold)
$font-weight-black: 900;          // Black (Heavy)

// COLOR
$color-background: #191919;
$color-text-base: #fff;
$color-text-second: #B88337;

// FONT SIZE
$line-height-base: 1.38;
$font-size-base: 16px;

//Media
$desktop_lg: 2250;
$desktop_md: 1920;
$desktop_sm: 1700;
$laptop_lg: 1440;
$laptop_md: 1300;
$laptop_sm: 1199;
$laptop_xs: 1024;
$tablet: 991;
$mobile_lg: 767;
$mobile_md: 539;
$mobile_sm: 479;
$mobile_xsm: 359;
